:root {
    --spacer: 4px;
    --radius: 4px;
}

body {
    font: 80% Lucida Sans, Verdana;
    line-height: 1.6rem;
}

#container {
    min-width: calc(500px - 2 * var(--maring));
}

#content {
    overflow: auto;
}

#content > * {
    margin: var(--spacer);
}

.menuitem, #sidebar {
    border-radius: var(--radius);
    margin-bottom: var(--spacer);
}

#header {
    background-color: #C3332A;
    color: #ffffff;
    padding: 15px;
}

#menubar {
    float: right;
    min-width: calc(300px - 2 * var(--spacer));
}

#main {
    padding: 10px;
}

#sidebar {
    background-color: #C3332A;
    color: #ffffff;
    padding: 10px;
    width: calc(100% - 2 * var(--spacer));
}

#bottom {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    font-size: 70%;
    line-height: 14px;
}

.menuitem {
    font-size: 120%;
    list-style-type: none;
    padding: 2px;
    cursor: pointer;
}

.menuitem:hover {
    background-color: #f1f1f1;
}

.menuitem.selected {
   background-color: #C3332A;
   color: white;
   font-weight:bold;
}

a {
    color: #000000;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}
